<div
  class="modal fade"
  id="exampleModal<%= uniID %>"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
<form action="/addTaskToSavedList" method="post">
  <input type="hidden" name="listId" value="<%= listIDT %>">
  <div class="modal-dialog ">
    <div class="modal-content modalListMenu">
      <div class="modal-header headerC">
        <div id="listTitleDisplay-<%= uniID %>">
          <h1 class="modal-title fs-5" id="exampleModal<%= uniID %>Label">
              <%= fileD.listTitle %>
          </h1>
      </div>
      <!-- Editable List Title (Initially Hidden) -->
     <div id="listTitleEdit-<%= uniID %>" style="display: none;">
        <input type="text" name="editedListTitle" value="<%= fileD.listTitle %>" />
     </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      
      <div class="modal-body modalBodyC container">
        
        <ul class="list-group">
                 
            <div class="modal-body modalBodyC container">
              <div class="input-group">
                <input
                  name="newTaskTitle"
                  type="text"
                  class="form-control textAreaC"
                  placeholder="Task title"
                />
              </div>
              <div class="input-group">
                <textarea
                  name="newTaskDescription"
                  rows="2"
                  class="form-control textAreaC"
                  placeholder="Describe task"
                ></textarea>
              </div>
            </div>
         
        </ul>
     
      </div>

      <div class="modal-footer cardFooter d-flex justify-content-end">
        
        <button type="submit" id="list_savesChanges" class="btn btn-primary">ADD TASK</button>
      </div>
    </form>
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>

